# Git & IDE
.git
.gitignore
.vscode
.idea

# Secrets
.env*
!.env.example
*.pem
*.key

# Python Caches & Virtualenvs
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.mypy_cache/
.ruff_cache/
.venv/
env/
venv/
wheels/
build/
dist/

# Tests & Scratch
tests/
scratch/
